/* bakgrunnsbilde */
html { 
	background: url(product-images/mat-bakgrund.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }



/* Design på selve header */
#header {
	width: 100%;
	height: 100px;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

	/* Design på knapper i header */
	.header {
		height: 50px;
		width: 200px;background-color: antiquewhite;

		text-align: center;
		line-height: 50px;

		margin: 5px;
	}



/* Design på knapper i tabell */
.tableButton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	width: 200px;
	height: 75px;

	padding: 15px 32px;
	margin: 0px 5px;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

	.button:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		transition: 0.75s;
	}
	.button:focus {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}



/* Div tabell med flexbox */

	#button { /* Flexbox for knapper for tabellen*/
		width: 100%;
		height: auto;

		margin-top: 50px;

		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		
	} 
	
	#table { /* Flexbox for tabell */
		width: 100%;
		height: auto;

		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		
	}

/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
}

table{
	width:  1000px;
	margin: 30px auto;
}

table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

table img{
	width:  70%;
}

table td.total-price{
	font-weight: bold;
	font-size: 22px;
}
table a{
	text-decoration: none;
	color: darkred;
	background-color: #ffecef;
	padding: 10px 15px;
}
table a:active{
	background-color: #ccf4d6;
	color:  green;
}

table select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
	border: thin solid #d4d4d4;
	background-color: transparent;
}
table select:focus{
	outline: none;
}

table img{
	width:  60%;
}